---
eleventyImport:
    collections:
        - news
layout:
permalink: /news.json
---

[
    {%- for post in collections.news | reverse %}
    {
        "Path": {{ post.page.url | url | dump | safe }},
        {%- if post.data.image %}
        "ImagePath": {{ post.data.image | url | dump | safe }},
        {%- endif %}
        "Date": {{ post.date.toISOString().slice(0, 10) | dump | safe }},
        "Category": {{ post.data.category | dump | safe }},
        {%- if post.data.author %}
        "Author": {
            "Name": {{ post.data.author | dump | safe }},
            "Uri": {{ authors[post.data.author] | dump | safe }}
        },
        {%- endif %}
        "Title": {{ post.data.title | dump | safe }},
        "Summary": {{ post.data.summary | dump | safe }}
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
]
