---
layout: core
---

<div class="row m-3 justify-content-center">
    <div class="card col-xxl-8">
        <div class="card-body">
            <h1 class="card-title">{{ title }}</h1>
            <p class="card-subtitle">
                <span class="text-muted">{{ page.date.toUTCString().slice(0, 16) }}</span>
                •
                <span class="text-muted">{{ category }}</span>
                {%- if author %}
                •
                <a class="text-decoration-none"
                   href="{{ authors[author] }}"
                   title="{{ author }}">{{ author }}</a>
                {%- endif %}
            </p>
            <p class="card-text">{{ summary }}</p>
        </div>
        <hr />
        {%- if image %}
        <div class="card-body">
            <img class="card-img-top rounded"
                 src="{{ image | url }}" />
        </div>
        {%- endif %}
        <div class="card-body">
            <!-- TODO: The content interferes with the page layout for some reason. -->
            <div class="card-text">
                {{ content | safe }}
            </div>
        </div>
    </div>
</div>
